<% content_for(:title, t('.title')) %>
<div class="bg-base-100">
  <!-- タイトルを中央揃えで配置 -->
  <div class="flex justify-center items-center pt-8">
    <h1 class="text-3xl font-bold mb-4"><%= t '.title' %></h1>
  </div>

  <div class="flex justify-center items-center min-h-screen">
    <!-- カードのレイアウトを調整 -->
    <div class="card flex-shrink-0 w-full max-w-2xl shadow-2xl bg-base-100 border border-gray-400">
      <%= form_with(model: @user, local: true, html: {class: 'card-body'}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-control">
          <%= f.label :name %>
          <%= f.text_field :name, class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :email %>
          <%= f.email_field :email, class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :password %>
          <%= f.password_field :password, class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "input input-bordered", required: true %>
        </div>
        <div class="form-control mt-6">
          <%= f.submit (t 'defaults.register'), class: "btn btn-primary" %>
        </div>
        <div class="form-control mt-4">
          <%= link_to 'LINEで登録', auth_at_provider_path(provider: :line), class: "bg-blue-400 text-white p-2 rounded block text-center" %>
          <p class="text-center">LINEで登録・ログインすると毎日定時にランキングが届きます</p>
        </div>
        
      <% end %>
    </div>
  </div>
  <div class='mt-4 text-center'>
    <%= link_to (t '.to_login_page'), login_path, class: "link link-hover" %>
  </div>
</div>