<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Sign up now!</h1>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <%= form_with(model: @user, local: true, html: {class: 'card-body'}) do |f| %>
        <div class="form-control">
          <%= f.label :last_name, class: 'label' do %>
            <span class="label-text">Last name</span>
          <% end %>
          <%= f.text_field :last_name, placeholder: "Last name", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :first_name, class: 'label' do %>
            <span class="label-text">First name</span>
          <% end %>
          <%= f.text_field :first_name, placeholder: "First name", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :email, class: 'label' do %>
            <span class="label-text">Email</span>
          <% end %>
          <%= f.email_field :email, placeholder: "Email", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :password, class: 'label' do %>
            <span class="label-text">Password</span>
          <% end %>
          <%= f.password_field :password, placeholder: "Password", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :password_confirmation, class: 'label' do %>
            <span class="label-text">Confirm Password</span>
          <% end %>
          <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control mt-6">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>