<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ログイン前のナビゲーションバー</title>
<style>
  /* ドロップダウンメニュー内のリンクのスタイル */
  .menu-item {
    border-bottom: 1px solid #eee; /* 薄いグレーの区切り線 */
    margin: 5px 0; /* 上下のマージンでリンク間のスペースを開ける */
    padding: 10px 0; /* リンクの上下のパディングを増やす */
  }
  .menu-item:last-child {
    border-bottom: none; /* 最後のアイテムには区切り線を表示しない */
  }
  /* リンクにホバーした時の影 */
  .menu-item:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 影を追加 */
    transition: box-shadow 0.3s; /* スムーズな遷移 */
  }
</style>
</head>
<body>

<div class="navbar bg-base-100">
  <div class="flex-1">
  <%= link_to root_path, class: 'btn btn-ghost text-xl link' do %>
    <%= image_tag 'goshichide.png', class: "h-12", size: "70x70" %>
  <% end %>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <button tabindex="0" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
        </svg>
      </button>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <%= link_to t('senryus.index.title'), senryus_path, class: 'menu-item' %>
        <%= link_to (t 'defaults.login'), login_path, class: 'menu-item' %>
        <%= link_to t('users.new.title'), new_user_path, class: 'menu-item' %>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
