<div id="<%= dom_id senryu %>" class="bg-gray-100 p-4 rounded-lg shadow-md">
  <p class="text-xl font-bold text-gray-800">
    <%= senryu.kamigo %>
  </p>

  <p class="text-xl font-bold text-gray-800">
    <%= senryu.nakashichi %>
  </p>

  <p class="text-xl font-bold text-gray-800">
    <%= senryu.shimogo %>
  </p>

  <p class="text-sm text-gray-600">
    <%= senryu.user_id %>
  </p>
</div>