<% content_for(:title, t('.title')) %>
<div class="bg-base-100">
  <!-- タイトルを中央揃えで配置 -->
  <div class="flex justify-center items-center pt-8">
    <h1 class="text-3xl font-bold mb-4"><%= t '.title' %></h1>
  </div>

  <div class="flex justify-center items-center min-h-screen">
    <!-- カードのレイアウトを調整 -->
    <div class="card flex-shrink-0 w-full max-w-2xl shadow-2xl bg-base-100 border border-gray-400">
      <%= form_with(url: login_path, local: true, html: { class: "card-body" }) do |f| %>
        <div class="form-control">
          <%= f.label :email, User.human_attribute_name(:email) %>
          <%= f.email_field :email, class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <%= f.label :password, User.human_attribute_name(:password) %>
          <%= f.password_field :password, class: "input input-bordered", required: true %>
        </div>
        <div class="form-control mt-6">
          <%= f.submit (t 'defaults.login'), class: "btn btn-primary" %>
        </div>
        <div class="form-control mt-4">
          <%= link_to 'LINEでログイン', auth_at_provider_path(provider: :line), class: "bg-blue-400 text-white p-2 rounded block text-center" %>
        </div>
        <div class="form-control mt-4">
          <label class="label">
            はじめての方はこちら
          </label>
          <%= link_to (t '.to_register_page'), new_user_path, class: "btn btn-primary mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
